body {
  font-family: "Pretendard Variable", sans-serif;
  word-break: keep-all;
  padding-top: 80px;
  padding-bottom: 80px;
}
img{
  display: block;
}
.page-title{
  font-size: 50px;
  font-weight: 800;
  line-height: 1.3;
  color: #13B491;
  text-align: center;
  margin-bottom: 20px;
}
.page-subtitle{
  width: 240px;
  height: 50px;
  border: 5px solid #ffa32d;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  color: #ffa32d;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 20px;
}
.btn{
  max-width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;  
}
.btn-orange{
  background-color: #ffa32d;
  box-shadow: 14px 14px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.btn-orange:active {
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(10px) translateY(10px);
}
.btn-green{
  background-color: #13B491;
  box-shadow: 14px 14px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.btn-green:active{
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(10px) translateY(10px);
}
.btn-gray{
  background-color: #f2f4f6;
  box-shadow: 14px 14px 0 rgba(0, 0, 0, 0.3);
  color: #444444;}
.btn-gray:active{
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(10px) translateY(10px);
}
.btn-small{
  max-width: 350px;
  height: 70px;
  font-size: 25px;
}

@media (max-width: 640px) {
  body {
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .page-title {
  font-size: 40px;
  }
  .btn{
    font-size: 34px;
  }
}