body {
  background-color: #eaf8ff;
  background-image: url(../images/result_bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  }
  .character{
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .result{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .result .box{
    background-color: #ffffff;
    min-height: 70px;
    margin-bottom: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .result h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .result .jobs{
    height: 200px;
    display: flex;
    gap: 10px
  }
  .result .job{
    flex: 1;
    background-color: #ffffff;
    background-image: url("../images/result_star.png");
    background-position: center;
    background-repeat: no-repeat;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffe6e3;
    border-radius: 20px;
  }
  .result .lecture img{
    margin-bottom: 30px;
    width: 100%;
  }